In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
portugues = pd.read_csv("datasets/dictionary/pt_BR/pt_BR.csv", sep=";", encoding='UTF-8')

In [3]:
portugues.head()

   id word
0   1    a
1   2    ª
2   3    à
3   4    á
4   5    ã

In [4]:
portugues.columns.values

array(['id', 'word'], dtype=object)

In [5]:
selectedColumns = ['word']

In [6]:
selectedColumns

['word']

In [7]:
selectedColumns = portugues.filter(items=selectedColumns)

In [8]:
selectedColumns

        word
0          a
1          ª
2          à
3          á
4          ã
...      ...
320134    µg
320135    µL
320136    µm
320137  µmol
320138   µUI

[320139 rows x 1 columns]